.addHomeButton {
    color: #222222;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    background: transparent;
}

.addHomeButton:hover {
    background-color: rgba(233, 233, 233, 0.389);
}

.writeEditDeleteButton {
    color: #222222;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 12px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 600;
    background: transparent;
    background-color: rgba(233, 233, 233, 0.389);
    margin: 20px 5px 0px 5px;
}

.writeEditDeleteButton:hover {
    background-color: rgba(210, 210, 210, 0.389);
}

.editDeleteButton {
    margin-top: 10px
}

.writeReviewButton {
    margin-top: 38px;
    }

.deleteReviewButton {
margin-top: 10px;
}


.signupLogInButtonDiv {
padding-top: 10px;
}

.submitForm {
    background-image: linear-gradient(50deg, rgb(230, 30, 77), rgb(215, 4, 102), rgb(189, 30, 89));
    color: white;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    font-family: Phantomsans, sans-serif;
    font-size: medium;
    margin: 10px 0px 10px 0px;
    /* font-weight: large; */
    /* color: rgb(255, 56, 92); */
}

.cancelForm {
    background-color: rgba(227, 227, 227, 0.462);
    color: rgb(22, 22, 22);
    width: 100%;
    height: 48px;
    border-radius: 8px;
    font-family: Phantomsans, sans-serif;
    font-size: medium;
    /* margin-top: 10px; */
    /* font-weight: large; */
    /* color: rgb(255, 56, 92); */

}

button {
    /* position: relative;
    display: inline-block; */
    cursor: pointer;
    border: 0;
    /* vertical-align: middle; */
    /* background: transparent; */
}





/* ================= login / sign up ================= */

/* .button {
    height: 30%;
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #375bdc;
    display: flex;
    font-family: sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    transition: all .3s;
} */


/* .button span {
    background-color: rgb(255, 255, 255);
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button:hover span {
    background: none;
    color: #ffffff;
}

.button:active {
    transform: scale(0.9);
} */


/* button.submit {
    font-family: sans-serif;
    width: 12rem;
    height: auto;
}

button.submit .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #375bdc;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .button-text {
    color: #fff;
} */

/* ================= demo ================= */

/* .demo {
    height: 30%;
    font-size: 100%;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: sans-serif;
    border-radius: 7px;
    overflow: hidden;
    transition: all 0.3s;
    border-color: #1b35fd;
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: #1b94fd;
    box-shadow: inset 0 0 10px rgba(27, 234, 253, 0.4), 0 0 9px 3px rgba(27, 189, 253, 0.1);
   }

   .demo:hover {
    color: #1b6efdee;;
    box-shadow: inset 0 0 10px rgba(27, 166, 253, 0.6), 0 0 9px 3px rgba(27, 46, 253, 0.2);
   } */
