.list {
    padding: 30px;
    margin: 0;
    list-style-type: none;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(124, 124, 124);
    display: flex;
    justify-content: center;
    max-width: 500px;
    /* list-style-image: 😯 */
}

/* .err {

    background: 😯;
    height: 20px;
    width: 20px;
} */
