.reviewsMain {
    overflow: scroll;
}

.reviewForm {
    padding-top: 50px;
}

.reviewRating {
    padding-top: 45px;
    padding-bottom: 45px;
    font-size: 20px;
}

.reviewRatingStar {
    font-size: 15px;
}

.reviewsContent {
    width: inherit;
}

.reviewContent {
    font-family: Phantomsans, sans-serif;
    color: rgba(29, 29, 29, 0.845);
    margin: -5px 0px 40px 0px;
    font-size: 16px;
    /* display: flex; */
    /* justify-content: space-between; */
}

.reviewFlex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.reviewUser {
    font-weight: bold;
}

.reviewUserIcon {
    padding: none;
    font-size: 40px;
}

.iconUserDate {
    display: flex;
    align-items: center;
}

.userDate {
    padding-left: 6px;
}

.reviewDate {
    color: rgba(90, 90, 90, 0.845);
    font-size: 15px;
}

.reviewReview {
    padding: 8px 0px 0px 8px;
}

.reviewImageContainer {
    width: 200px;
    height: 200px;
}
