.reviewsMain {
    /* border: 5px blue solid; */
    height: 60%;
    /* display: flex; */
    margin: 5%;
}

.reviewsContainer {
    display: flex;
    flex-direction: column;
    border: rgb(129, 129, 129) solid 1px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.317);

    /* border: 5px rgb(18, 154, 113) dashed; */
    height: 100%;
    width: 30%;
}

.reviewsContent {
    margin: auto
}

.reviewTitle {
    font-family: Phantomsans, sans-serif;
    color: rgba(116, 116, 116, 0.845)
}

.reviewContent {
    font-family: Phantomsans, sans-serif;
    color: rgba(116, 116, 116, 0.845)
}
