main {
    width: 100%;
}

.spotMain {
    width: 90%;
}


.spotDisplay {
    border: 15px green dotted;
    width: 60%;
    /* height: 100% */
    /* display: flex; */

}

.spotDetail {
    border: 15px rgb(0, 53, 128) dotted;
    display: flex;
}

.spotImage {
    border-radius: 15px;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.spotInfo {
    font-family: Phantomsans, sans-serif;
    width: 12rem;
    height: auto;
    color: rgba(116, 116, 116, 0.845)
}

.spotsContainer {
    max-width: 1000px;
    max-height: 1300px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin: auto;
}


.prevImg {
    max-width: 300px;
    max-height: 300px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.spotParent {
    max-width: 300px;
    min-width: 300px;
    max-height: 500px;
    min-height: 300px;
    border: solid;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
